body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gang-image {
  max-width: 400px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background-color: #8b0000;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-buttons a:hover {
  background-color: #b30000;
}
